<div class="mt-4">
    {{!-- row chứa 2 col --}}
    <div class="row"> 
{{!-- Tổng là 12 --}}
        {{!-- 1 col có độ rộng là 3 --}}
            <div class="col-lg-3">
                <button>Học Ngay</button>
            </div>
        {{!-- 1 col có độ rộng là 9 --}}
            <div class="col-lg-9">
                <h2>{{course.name}}</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoID}}" title="Demon Slayer Movie OST: Rengoku&#39;s Last Smile (Sad Theme)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <p>{{course.description}}</p>
            </div>
    </div>
</div>